@import "tailwindcss";

:root {
  --background: oklch(0.1543 0 0);
  --foreground: oklch(1 0 0);
  /* brand */
  --primary: oklch(0.5167 0.2556 263.55);
  --black2: oklch(0.235 0 180);
  --light-black: oklch(0.3523 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-black2: var(--black2);
  --color-light-black: var(--light-black);

  --font-sans: var(--font-space-grotesk);
}

body {
  background: var(--background);
  color: var(--foreground);
}
