@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #3b3b3b;
  /* brand */
  --primary: #0d4ff7;
  --light-grey: #f8f8f8;
  --light-black: #3b3b3b;
  --grey-1: #e9e9e9;
  --dark-grey: #a1a1a1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-light-grey: var(--light-grey);
  --color-light-black: var(--light-black);
  --color-grey-1: var(--grey-1);
  --color-dark-grey: var(--dark-grey);

  --font-sans: var(--font-space-grotesk);
}

body {
  background: var(--background);
  color: var(--foreground);
}
